*,
::after,
::before {
    position: relative;
    box-sizing: border-box;
}

html {
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}
body {
    margin: 0;
    min-height: 100%;
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.2;
}
article,
aside,
footer,
header,
nav,
section,
main {
    display: block;
}
main {
    padding: 30px 240px 30px 60px;
}
main,
aside {
    animation: fadein 0.4s;
}

.b-p {
    background-color: #84378c;
    color: #fff;
}
a {
    background-color: transparent;
}
a:active, a:hover {
    outline-width: 0;
}

h1 {
    font-size: 21px;
    font-weight: 300;
    padding: 0;
    margin: 0 0 15px;
}
h1,
h2 {
    line-height: 1.3;
}
h1 strong {
    display: block;
}
p {
    padding: 0;
    margin: 0 0 20px;
}
strong,
h1 strong {
    font-weight: 700;
}
ul {
    list-style: none;
    margin: -8px 0 30px 20px;
    padding: 0;
}
li {
    list-style: none;
    font-weight: 300;
    margin: 0 0 5px;
    padding: 0;
}
small {
    font-size: 14px;
}
.b {
    fill: #b61f4f;
}
.t {
    fill: #fff;
}
.g {
    fill: #b1b1b1;
}
.u {
    position: relative;
    margin-bottom: 30px;
}
.btn {
    display: inline-block;
    margin: 0;
    padding: 0 18px 2px;
    color: #fff;
    background: transparent;
    font-weight: 400;
    font-size: 1em;
    border: solid 2px #fff;
    line-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s;
}
.btn:hover {
    border: solid 2px #3d3d3d;
    background-color: #3d3d3d;
    color: #fff;
    cursor: pointer;
}
.btn:focus {
    outline: none;
    border-color: #b8204f;
    background-color: #b61f4f;
    color: #fff;
}
.c {
    display: block;
    width: 18em;
    max-width: 100%;
    margin: 30px 0;
}
.c::after {
    content: ' ';
    display: block;
    clear: both;
}
.c-d {
    padding: 0.5em 0 1em;
    width: calc(25% - 0.75em);
    float: left;
    color: #84378c;
    background-color: #fff;
    text-align: center;
}
.c-d:not(:first-child) {
    margin-left: 1em;
}
.c-u {
    display: block;
    text-transform: uppercase;
    font-size: 70%;
    font-weight: bold;
}
.d {
    display: block;
    margin-top: 0.2em;
    font-size: 150%;
    line-height: 0.7;
}
footer aside {
    padding: 0 40px 40px;
    text-align: right;
}
.s a {
    cursor: pointer;
}
.s a:not(:first-child) {
    margin-left: 20px;
}
.s svg {
    height: 30px;
    width: auto;
    fill: #fff;
    opacity: 1;
}
footer::before {
    content: '';
    display: block;
    position: fixed;
    left: 960px;
    width: 200vw;
    height: 100%;
    transform: skew(-30deg);
    background: #b61f4f;
}
footer a:hover {
    opacity: 0.7;
    transition: all .2s;
}
header {
    margin-bottom: 30px;
}

@media (min-width: 800px) {
    h1 {
        font-size: 2.4rem;
        line-height: 1.2;
    }
    footer {
        height: 100%;
        width: 300px;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 2;
    }
    footer aside {
        position: absolute;
        right: 0;
    }
    .gash {
        bottom: 70px;
    }
    .s {
        bottom: 0;
        width: auto;
        text-align: right;
    }
}
@media (max-width: 799px) {
    body {
        display: flex;
        flex-direction: column;
    }
    main {
        padding: 30px 40px;
    }
    footer {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: -60px;
        min-height: 250px;
        overflow: hidden;
    }
    footer::before {
        position: absolute;
        top: 0;
        left: 0 !important;
        height: 100em;
        transform: skewY(-15deg);
    }
}

/* WRAPPING */

.l span {
    display: block;
}

/* always vertically centred left content */
@media (min-height: 721px) and (min-width: 1025px) {
    main {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        padding-top: 0;
        padding-bottom: 0;
    }
}
@media (max-width: 1200px) {
    footer::before {
        left: calc(100vw - 240px);
    }
}
@media (max-height: 768px) {
    :root {
        font-size: 85%;
    }
}

@media (min-width: 800px) and (max-width: 1024px) {
    .u span,
    .r span {
        display: block;
    }
    .l {
        max-width: 370px;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
